.main-container {
  height: 100vh;
  .sidebar {
    transition: width 0.3s ease;
    width: 0%;
  }
  .main-body {
    transition: width 0.3s ease;
    width: 100%;
  }

  &.show-navigation {
    .sidebar {
      width: 10%;
    }
    .main-body {
      width: 90%;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    display: block !important;
    .sidebar {
      width: 100%;
      transition: height 0.3s ease;
      height: 0;
    }
    .main-body {
      width: 100%;
    }
    &.show-navigation {
      .sidebar {
        height: 100px;
      }
      .main-body {
        width: 100%;
      }
    }
  }
}
